body{
    background-color: #2A9D8F;
}

.wrapper{
    width: min(1200px,100%);
    margin: auto;
}

.contact{
    font-family: "Trebuchet MS";
    font-size: 35px;
    color: white;
}

#list-text{
    font-size: 25px;
    color:white;
}

