table{
    border: darkcyan;
    border-collapse: collapse;
    background-color: aquamarine;
    font-family: "Trebuchet MS";
}

table td, table th{
    border: 2px solid black;
    border-collapse: collapse;
}