#pie-charts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pie-charts>div {
  width: 50% !important;
  height: 300px !important;
  position: relative;
}