#barchart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#barchart-div{
    width: 50% !important;
    height: 400px !important;
    position: relative;
}

