html {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #222629;
    font-family: "Oxygen", "sans-serif";
    overflow-x: hidden;
}

body {
    display: block;
    position: relative;
    font-family: "Oxygen", "sans-serif";
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    color: white;
    /*text-shadow: -1px 0 #FF7A00, 0 2px #FF7A00, 2px 0 #FF7A00, 0 -1px #FF7A00;*/
    text-align: center;
    font-size: calc(20px + 50 * ((100vw - 150px) / (1600 - 150)));
    /*width: 100%;*/
}

.header {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.title {
    width: 100%;
    text-align: center;
    color: white;
}


