#popupbox{
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding-top: 10px;
    width: 20%;
    height: 150px;
    position: absolute;
    background: #FBFBF0;
    border: solid #000000 2px;
    z-index: 9;
    font-family: 'Helvetica','Arial',sans-serif;
    text-align: center;
}
h1 {
    color: #e0943d;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 100px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}


h3{
    color: #e0943d;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}

.sidenav {
    height: 100%;
    width: 0; /*to be changed in js*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e0943d ;
    /*overflow-x: hidden;*/
    padding-top: 60px;
    transition: 0.5s;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.add-accident, .delete-accident, .update-accident, .import-database{
    position: relative;
    margin-left: 300px;
}

.sidenav a:hover {
    color: red;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}