.sel1 {
    background-color: #FF7A00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}
.sel1:hover {
    background-color: #222629;
}

.sel1 option {
    position: absolute;
    background-color: #FF7A00;
    min-width: 160px;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /*transform: translateX(-50%);*/
}
.btn1 {
    background-color: #FF7A00;
    color: white;
    padding: 10px;
    font-size: calc(4px + 16 * ((100vw - 150px) / (1600 - 150)));
    border: none;
    cursor: pointer;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 30px auto;
    display: flex;
    align-items: center;
}
.button2 {
    width: 100%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    flex: 1;
    /*padding: 20px 20px 0px;*/
    margin-top: 10px;
    margin-bottom: 5px;
}

.button2:hover {
    background-color: #ff7a00;
    box-shadow: 0px 15px 20px rgb(229, 168, 114);
    color: #fff;
    transform: translateY(-7px);
}
.dropdown1 {
    position: relative;
    text-align: center;
    margin: 100px auto;
    /*display: block;*/
    /*height: 60px;*/
    display: flex;
    align-items: center;
}
/*.btn_menu{*/
/*    !*margin-top:2%;*!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
